<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		
		
		<table>
			
			<tr>
				<th>Id</th>
				<th>Noticia</th>
				<th>Data</th>
			</tr>
			
			<% for(var i = 0 ; i < noticias.length ; i++ ){ %>
			
			<tr>
				<td><%= noticias[i].id_noticias %></td>
				<td><%= noticias[i].noticias %></td>
				<td><%= noticias[i].data_criacao %></td>
			</tr>	
				
			<% } %>
			
			
		</table>

	</body>
</html>